.header-main {
  justify-content: start;

  &-left {
    margin-left: 14%;
  }
}



section {
  display: flex;
  margin-top: 96px;
  justify-content: center;

}

.items-wrp {
  width: 1140px;
  display: flex;
  justify-content: space-between;
}




.items {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  margin: 0 auto;

}

// Первая карточка
.card-first {
  display: flex;
  width: 652px;
  margin-bottom: 40px;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  ;

  &-img {
    width: 100%;
  }

  &-info {
    display: flex;
    flex-direction: column;
    padding-left: 31px;
    width: 100%;

    &-header {
      display: flex;

    }
  }



  &-h {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    width: 60%;
    text-transform: uppercase;
    padding: 0;
  }

  &-p {
    display: block;
    margin: 0;
    margin-bottom: 6px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
  }

  &-p span {
    color: #F16D7F;
  }

  &-close-btn {
    display: block;
    width: 12px;
    height: 12px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 35px;
    left: 110px;
  }


  &-close-btn::before,
  &-close-btn::after {
    content: "";
    display: block;
    width: 18px;
    height: 2px;
    background: #6F6E6E;
    border-radius: 10px;
    position: absolute;
    top: 5px;
    left: -3px;
    transform: rotate(45deg);
  }



  &-close-btn::after {
    transform: rotate(-45deg);
  }

  &-close-btn:hover::before,
  &-close-btn:hover::after {
    background: #B7B6B6;

  }


  &-close-btn:active::before,
  &-close-btn:active::after {
    background: #535353;
  }

  &-info-bottom {
    display: flex;
  }

  &-quantity {
    width: 43px;
    height: 24px;
    border: 1px solid #EAEAEA;
    margin-left: 24.5px;
    font-family: inherit;
    background-color: #fff;
    text-align: center;


  }



}

// Вторая карточка
.card-second {
  display: flex;
  width: 652px;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);

  &-img {
    width: 262px;
  }

  &-info {
    display: flex;
    flex-direction: column;
    padding-left: 31px;
    width: 100%;


    &-header {
      display: flex;

    }
  }



  &-h {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    width: 60%;
    text-transform: uppercase;
    padding: 0;
  }

  &-p {
    display: block;
    margin: 0;
    margin-bottom: 6px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
  }

  &-p span {
    color: #F16D7F;
  }

  &-close-btn {
    display: block;
    width: 12px;
    height: 12px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 35px;
    left: 110px;
  }


  &-close-btn::before,
  &-close-btn::after {
    content: "";
    display: block;
    width: 18px;
    height: 2px;
    background: #6F6E6E;
    border-radius: 10px;
    position: absolute;
    top: 5px;
    left: -3px;
    transform: rotate(45deg);
  }



  &-close-btn::after {
    transform: rotate(-45deg);
  }

  &-close-btn:hover::before,
  &-close-btn:hover::after {
    background: #B7B6B6;

  }


  &-close-btn:active::before,
  &-close-btn:active::after {
    background: #535353;
  }

  &-info-bottom {
    display: flex;
  }

  &-quantity {
    width: 43px;
    height: 24px;
    border: 1px solid #EAEAEA;
    margin-left: 24.5px;
    font-family: inherit;
    background-color: #fff;
    text-align: center;
  }
}


.items-btn {
  display: block;


  margin-top: 72.5px;

  &-clear-shopping {

    width: 234px;
    height: 49px;
    text-transform: uppercase;
    border: 1px solid #A4A4A4;
    background: #FFFFFF;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    transition: background-color 0.5s;
    margin-right: 180px;

  }

  &-clear-shopping:hover {
    background-color: #F16D7F;
    color: #FFFFFF;
    border: 1px solid #F16D7F;
    transition: all 0.5s;

  }

  &-clear-shopping:active {
    transition: transform 0.3s linear;
    transform: scale(0.9);

  }

  &-continue {

    width: 234px;
    height: 49px;
    text-transform: uppercase;
    border: 1px solid #A4A4A4;
    background: #FFFFFF;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    transition: background-color 0.5s;
  }

  &-continue:hover {
    background-color: #F16D7F;
    color: #FFFFFF;
    border: 1px solid #F16D7F;
    transition: all 0.5s;
  }

  &-continue:active {
    transition: transform 0.3s linear;
    transform: scale(0.9);

  }
}



.cart-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: end;

  &-h {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    text-transform: uppercase;
  }

  &-shipping {
    display: flex;
    flex-direction: column;
    width: 360px;


  }

  &-input {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #A4A4A4;
    margin-bottom: 20px;
    width: 334px;
    height: 45px;
    padding-left: 17px;
  }

  &-btn {
    width: 100px;
    height: 34px;
    text-transform: uppercase;
    border: 1px solid #A4A4A4;
    background: #FFFFFF;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    transition: background-color 0.5s;

  }

  &-btn:hover {
    background-color: #F16D7F;
    color: #FFFFFF;
    border: 1px solid #F16D7F;
    transition: all 0.5s;
  }

  &-btn:active {
    transition: transform 0.3s linear;
    transform: scale(0.9);

  }
}

.total-check {
  display: flex;
  flex-direction: column;
  height: 214px;
  width: 360px;
  background: #F5F3F3;
  margin-top: 57.5px;

  &-p {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    text-transform: uppercase;

    margin: 0;

  }

  &-h {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    text-transform: uppercase;

    margin: 0;
    margin: 12px 0 21px 0;

    & span {
      color: #F16D7F;
    }
  }

  &-line {
    display: block;
    align-self: center;
    width: 275px;
    background: #E2E2E2;
    margin: 0;
  }

  &-btn {
    display: block;
    align-self: center;
    width: 273px;
    height: 50px;
    border: none;
    background: #F16D7F;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-transform: uppercase;
    transition: background-color 0.5s;
    margin-top: 17px;
  }

  &-btn:hover {
    background-color: #FFFFFF;
    color: #FFFFFF;
    border: 1px solid #F16D7F;
    transition: all 0.5s;
    color: #F16D7F;
  }

  &-btn:active {
    transition: transform .3s linear;
    transform: scale(0.9);
  }

  &-top {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    // height: 103px;
    margin-top: 39px;
    padding-right: 34px;

  }
}



//                        Медиа-запросы

//                    Медиа-запросы для планшета

@media (max-width:768px) and (min-width:376px) {
  .items {
    width: 100%;
    justify-content: center;
    align-items: center;



    &-wrp {
      flex-direction: column;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      width: 100%;

    }
  }

  .card-first,
  .card-second {
    width: 734px;
  }

  .header-main-left {
    margin-left: 16px;
  }

  .cart-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;

    &-h {
      position: absolute;
      top: 28px;
      left: 19px;

    }


  }

  form {
    margin-top: 84px;
  }

  .total-check {
    margin: 55px 0 0 16px;

  }

  .subscribe {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-size: cover;
    padding: 0 0 140px 0;
  }

  .left_sub {
    box-sizing: border-box;
    margin: 0 auto;
    height: 100%;
    margin-top: 50px;
  }

  .right_sub {
    margin: 0;
    height: 100%;
    margin-top: 48px;
    width: 40%;

  }

  .sub_p {
    text-align: center;
  }

  .copyright_left {
    margin-left: 32px;
    width: 50%;
  }

  .copyright_right {
    justify-content: end;
    margin-right: 32px;
  }

}

//            Медиа-запрос для мобильного 

@media (max-width: 375px) {
  .header-main {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;

    &-left {
      margin: 0;



      &-title {
        text-align: center;
      }
    }
  }

  section {
    margin-top: 39px;
  }

  .items {
    width: 100%;
    align-items: center;
    justify-content: center;

    &-wrp {
      flex-direction: column;
    }

    &-btn {
      display: flex;
      margin-top: 30px;


      &-clear-shopping {
        margin: 0;
        width: 175px;
        height: 33px;
        margin-right: 9.4px;

      }

      &-continue {
        margin: 0;
        width: 175px;
        height: 33px;
      }
    }
  }

  .card-first {
    width: 357px;

    &-info {
      width: 214px;
      padding-left: 17px;
    }

    &-h {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      margin: 22px 0 17px 0;
      width: 144px;
    }

    &-p {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 4px;
    }

    &-quantity {
      width: 24px;
      height: 15px;
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      color: #656565;

    }

    &-close-btn {
      width: 11px;
      height: 11px;
      top: 27px;
      left: 28px;
    }

    &-close-btn::after {
      width: 13px;
      top: 4px;
      left: -2px;
    }

    &-close-btn::before {
      width: 13px;
      top: 4px;
      left: -2px;
    }

  }

  .card-fist-img {
    width: 144px;
    height: 188px;
  }

  .card-second {
    width: 357px;

    &-info {
      width: 214px;
      padding-left: 17px;
    }

    &-h {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      margin: 22px 0 17px 0;
      width: 144px;
    }

    &-p {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 4px;
    }

    &-quantity {
      width: 24px;
      height: 15px;
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      color: #656565;

    }

    &-close-btn {
      width: 11px;
      height: 11px;
      top: 27px;
      left: 28px;
    }

    &-close-btn::after {
      width: 13px;
      top: 4px;
      left: -2px;
    }

    &-close-btn::before {
      width: 13px;
      top: 4px;
      left: -2px;
    }

  }

  .card-second-img {
    width: 144px;
    height: 188px;
  }

  .cart-info {
    width: 100%;
    margin: 0 auto;
    align-items: center;
    // padding-left: 9px;

    &-input {
      width: 360px;
      height: 45px;
      padding: 0;

    }

    &-h {
      display: block;
      align-self: flex-start;
      text-align: start;
      margin-top: 48px;
      margin-left: 9px;
    }

    &-btn {
      font-weight: 400;
      font-size: 11px;
      line-height: 13px;
      color: #575757;
      text-transform: unset;
    }


  }

  .total-check {
    margin-top: 48.5px;
  }

}