/* Стили для шапки страницы каталога */
.header-main {
  display: flex;
  background-color: #F8F3F4;
  max-height: 148px;
  width: 100%;

  justify-content: space-around;

}

.header-main-left {
  height: 148px;
  display: flex;
  align-items: center;

}

.header-main-right {
  height: 148px;
  display: flex;
  align-items: center;



}

.header-main-left-title {

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;

}

.header-breadcrumb {
  display: flex;
  list-style: none;
  padding-top: 65px;
  height: 148px;
  margin: 0;
  padding: 0;
  align-items: center;

}

.breadcrumb_list {
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;

}

.header-breadcrumb .breadcrumb_list:after {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

li span {
  color: #F16D7F;
  text-transform: uppercase;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.check-items {
  display: flex;
  justify-content: space-between;
  width: 1140px;

  height: 136px;
}

.check-items-left {
  display: flex;
  width: 35%;
  align-items: center;


}

.check-items-right {
  display: flex;
  width: 65%;
  align-items: center;
}

.trending {
  width: 132px;
  margin-right: 28px;
}

.size {
  width: 83px;

}

.price {
  width: 103px;
}


article {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

/* стилизация блока выбора size*/

input:focus,
button:focus {
  outline: none;
}

input:focus-visible,
button:focus-visible {
  outline: 2px solid #F16D7F;
}

.list-size {
  width: 80px;
  border: none;
  background-color: transparent;
  position: relative;
}

.list-size-btn-title {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
  color: #6F6E6E;
  background-color: transparent;
  text-align: left;
  text-transform: uppercase;
  position: relative;
}

.list-size-btn-title svg {
  fill: #6F6E6E;
  position: absolute;
  top: 40%;
  left: 55%;
}

.list-size-btn-title:hover {
  color: #F16D7F;
}

.list-size-btn-title:hover svg {
  fill: currentColor;
}

.list-size-btn-title:active {
  color: black;
}

.list-size-btn-title:active svg {
  fill: currentColor;
}

#switch-size {
  display: none;
}

#switch-size:checked~.list-size-wrp {
  display: flex;
}

.list-size-wrp {
  width: 79px;
  display: none;
  flex-direction: column;
  z-index: 10;
  margin: 5px 0 0 0;
  padding: 9.5px 9.5px 9.5px 31px;
  box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  top: 18px;
  left: -13px;
}

.list-size-item {
  display: none;
}

.list-size-item:nth-child(1):checked~.list-size-item-title:nth-child(2)::before,
.list-size-item:nth-child(3):checked~.list-size-item-title:nth-child(4)::before,
.list-size-item:nth-child(5):checked~.list-size-item-title:nth-child(6)::before,
.list-size-item:nth-child(7):checked~.list-size-item-title:nth-child(8)::before {
  background-image: url(../img/check-mark-symbol.png);
  background-size: cover;
  background-position: center;
}

.list-size-item-title {
  display: block;
  margin: 0 0 6px 0;
  position: relative;
  text-transform: uppercase;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.41px;
  color: #6F6E6E;
}

.list-size-item-title:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #EBEBEB;
  position: absolute;
  top: 1px;
  left: -23.5px;
}

/* стилизация блока Filter */
#switch-filter {
  display: none;
}

#switch-filter:checked~.filter-list-wrp {
  display: block;
}

.filter {
  width: 360px;
  padding: 13px 16px 16px 16px;
  box-sizing: border-box;
  background: #FFFFFF;
  position: relative;
}

.filter-btn {
  display: block;
  width: 100%;
  margin: 0 0 16px 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: #000000;
  text-align: left;
}

.filter-btn span {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16.8px;
  text-transform: uppercase;
}

.filter-btn svg {
  margin: 0 0 0 11px;
  fill: currentColor;
}

.filter-btn:hover {
  color: #F16D7F;
}

.filter-btn:active {
  color: #222224;
}

.filter-list-wrp {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 13px 16px 16px 16px;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 10;
}

.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-list-item {
  width: 100%;
  margin: 0 0 18px 0;
  padding: 11px;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
  border-bottom: 1px solid #EBEBEB;
  position: relative;
}

.filter-list-item::before {
  content: "";
  display: block;
  width: 5px;
  height: 37px;
  background-color: #EF5B70;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.filter-list-item a {
  text-transform: uppercase;
  color: #EF5B70;
  text-decoration: none;
}

.filter-list-item:hover::before {
  background-color: red;
}

.filter-list-item:hover a {
  color: red;
}

.filter-list-item:active::before {
  background-color: #ccc;
}

.filter-list-item:active a {
  color: #ccc;
}

.filter-sublist {
  margin: 24px 0 0 0;
  padding: 0 0 0 7px;
  box-sizing: border-box;
  list-style: none;
}

.filter-sublist-item {
  margin: 0 0 11px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
}

.filter-sublist-item:last-child {
  margin: 0 0 24px 0;
}

.filter-sublist-item a {
  color: #6F6E6E;
  text-decoration: none;
}

.filter-sublist-item:hover a {
  color: #EF5B70;
}

.filter-sublist-item:active a {
  color: #000;
}

/* стили для блока trending  */


input:focus,
button:focus {
  outline: none;
}

input:focus-visible,
button:focus-visible {
  outline: 2px solid #F16D7F;
}

:focus,
button:focus {
  outline: none;
}

input:focus-visible,
button:focus-visible {
  outline: 2px solid #F16D7F;
}


.list-trending {
  width: 190px;
  border: none;
  background-color: transparent;
  position: relative;
}

.list-trending-btn-title {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
  color: #6F6E6E;
  background-color: transparent;
  text-align: left;
  text-transform: uppercase;
  position: relative;
}

.list-trending-btn-title svg {
  fill: #6F6E6E;
  position: absolute;
  top: 40%;
  left: 65%;
}

.list-trending-btn-title:hover {
  color: #F16D7F;
}

.list-trending-btn-title:hover svg {
  fill: currentColor;
}

.list-trending-btn-title:active {
  color: black;
}

.list-trending-btn-title:active svg {
  fill: currentColor;
}

#switch-trending {
  display: none;
}

#switch-trending:checked~.list-trending-wrp {
  display: flex;
}

.list-trending-wrp {
  width: 110px;
  display: none;
  flex-direction: column;
  z-index: 10;
  margin: 5px 0 0 0;
  padding: 9.5px 9.5px 9.5px 31px;
  box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  top: 18px;
  left: 0px;
}

.list-trending-item {
  display: none;
}

.list-trending-item:nth-child(1):checked~.list-trending-item-title:nth-child(2)::before,
.list-trending-item:nth-child(3):checked~.list-trending-item-title:nth-child(4)::before,
.list-trending-item:nth-child(5):checked~.list-trending-item-title:nth-child(6)::before,
.list-trending-item:nth-child(7):checked~.list-trending-item-title:nth-child(8)::before {
  background-image: url(../img/check-mark-symbol.png);
  background-size: cover;
  background-position: center;
}

.list-trending-item-title {
  display: block;
  margin: 0 0 6px 0;
  position: relative;
  text-transform: uppercase;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.41px;
  color: #6F6E6E;
}

.list-trending-item-title:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #EBEBEB;
  position: absolute;
  top: 1px;
  left: -23.5px;
}

/* стили для блока price */
input:focus,
button:focus {
  outline: none;
}

input:focus-visible,
button:focus-visible {
  outline: 2px solid #F16D7F;
}

:focus,
button:focus {
  outline: none;
}

input:focus-visible,
button:focus-visible {
  outline: 2px solid #F16D7F;
}


.list-price {
  width: 190px;
  border: none;
  background-color: transparent;
  position: relative;
}

.list-price-btn-title {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
  color: #6F6E6E;
  background-color: transparent;
  text-align: left;
  text-transform: uppercase;
  position: relative;
}

.list-price-btn-title svg {
  fill: #6F6E6E;
  position: absolute;
  top: 40%;
  left: 30%;
}

.list-price-btn-title:hover {
  color: #F16D7F;
}

.list-price-btn-title:hover svg {
  fill: currentColor;
}

.list-price-btn-title:active {
  color: black;
}

.list-price-btn-title:active svg {
  fill: currentColor;
}

#switch-price {
  display: none;
}

#switch-price:checked~.list-trending-wrp {
  display: flex;
}

.list-price-wrp {
  width: 79px;
  display: none;
  flex-direction: column;
  margin: 5px 0 0 0;
  padding: 9.5px 9.5px 9.5px 31px;
  box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  top: 18px;
  left: 0px;
}

.list-price-item {
  display: none;
}



.list-price-item-title {
  display: block;
  margin: 0 0 6px 0;
  position: relative;
  text-transform: uppercase;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.41px;
  color: #6F6E6E;
}

.list-price-item-title:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #EBEBEB;
  position: absolute;
  top: 1px;
  left: -23.5px;
}





/* Стили для блока с карточками товара */

.cards {

  max-width: 1140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


}

.card {
  height: 581px;
  width: 360px;
  background: #F8F8F8;
  margin-bottom: 30px;
  position: relative;
}

.card:hover .card_btn {
  display: flex;
}

.card:hover .card_btn:hover {
  background-color: #ccc;
  color: #000;
  border: 1px solid #000;
}

.card:hover .card_btn:hover svg {
  fill: #000;
}

.card:hover .card_btn:active {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.card:hover .card_btn:active svg {
  fill: #fff;
}

.card:hover .card_img {

  filter: brightness(40%);

}


.card_btn {
  display: none;
  justify-content: center;
  align-items: center;
  width: 38.3%;
  min-height: 43px;
  border: 1px solid #FFFFFF;
  background: transparent;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  position: absolute;
  top: 188px;
  left: 32.7%;
}



.card_btn svg {

  fill: #fff;
  margin: 0 11px 0 0;

}

.card_info {
  margin: 0%;
  padding: 0%;
}

.card_h {
  text-transform: uppercase;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin: 25px 0 12px 18px;
}

.card_p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin: 0 28px 0 16px;
}

.card_price {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-left: 18px;
}


/* стили для виджета pagination */

.pagination_section {

  width: 1140px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
}

.pagination-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 15px;
  height: 43px;
  width: 243px;
  border: 1px solid #EBEBEB;
  border-radius: 3px;
}

.pagination-link {

  text-decoration: none;
  color: #EBEBEB;
  text-align: center;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.active-pagination-link {
  color: #EF5B70;
  text-align: center;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}



/*                   Медиа-запросы                                  */

/*                  Медиа-запросы для планшета                      */

@media (max-width:768px) and (min-width:376px) {
  article {
    width: 100%;
  }

  .check-items {
    width: 100%;

  }

  .list-price {

    width: 100%;
  }

  .list-price-btn-title svg {
    fill: #6F6E6E;
    position: absolute;
    top: 40%;
    left: 60%;
  }



  .check-items-right {
    width: 42%;
  }

  .cards {
    width: 98%;
    justify-content: space-around;
  }

  .card-tablet-none {
    display: none;
  }

  .card {
    margin-bottom: 16px;
  }

  .bottom_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 48px 0 34px 0;
  }

  .feature {
    margin: 0 auto;
    margin-bottom: 47px;

  }

  .subscribe {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-size: cover;
    padding: 54px 0 140px 0;
  }

  .left_sub {
    box-sizing: border-box;
    margin: 0 auto;
  }

  .right_sub {
    margin: 0 auto;
    width: 100%;
  }

  .copyright_left {
    margin-left: 32px;
    width: 50%;
  }

  .copyright_right {
    justify-content: end;
    margin-right: 32px;
  }
}





/*                  Медиа-запрос для мобильного                       */

@media (max-width: 375px) {

  .header-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

  }

  .header-main-left {
    height: 50px;
    padding: 0;
    margin: 0;
    padding-top: 24px;

  }

  .header-main-right {
    height: 50%;
    padding: 0;
    margin: 0;
    padding-bottom: 46px;
  }

  .header-breadcrumb {
    height: 100%;
  }

  article {
    width: 100%;
  }

  .check-items {
    width: 100%;

  }

  .cards {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .filter-btn span {
    display: none;
  }

  .filter-btn svg {
    width: 35px;
    height: 25px;
  }

  .filter-list-wrp {
    width: 140px;
  }

  .check-items-left {
    width: 15%;
    justify-content: center;
  }

  .check-items-right {
    width: 70%;
  }

  .filter {
    width: 100%;
    padding: 0;
  }

  .trending {
    margin-right: 24px;
  }



  .list-trending {
    width: 107px;
  }

  .list-trending-btn-title svg {
    top: 21%;
    left: 95%;
  }

  .list-trending-btn-title {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #6F6E6E;

  }

  .list-size-btn-title svg {
    top: 21%;
    left: 63%;
  }

  .list-size {
    width: 60px;
  }

  .price {
    width: 100%;
  }

  .list-price {
    width: 100%;
  }

  .list-price-btn-title svg {
    top: 23%;
    left: 70%;
  }

  .card-tablet-none {
    display: none;
  }

  .card {
    margin-bottom: 16px;
  }












  .bottom_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 48px 0 34px 0;
  }

  .feature {
    margin: 0 auto;
    margin-bottom: 47px;

  }
}