.top-item {
  width: 100%;
  height: 777px;
  background-color: #F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center;


}

.top-item-left {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 47px;
  width: 47px;
  background-color: rgba(42, 42, 42, 0.15);


  a {

    & svg {
      fill: #000000;
      display: block;
      margin: 0 auto;

    }

    & svg:hover {
      fill: #F16D7F;
    }
  }
}

.top-item-right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 47px;
  width: 47px;
  background-color: rgba(42, 42, 42, 0.15);


  a {
    & svg {
      fill: #000000;
    }

    & svg:hover {
      fill: #F16D7F;
    }
  }
}



.top-item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-item-info {
  display: flex;
  justify-content: center;
  align-items: center;




}

.main-item-info-grey-border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #EAEAEA;
  max-width: 100%;
  background-color: #FFFFFF;
  margin-top: -65px;
  width: 59%;


  &-header {
    text-transform: uppercase;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
  }

  &-header2 {
    text-transform: uppercase;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
  }

  &-txt {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;

  }

  &-txt-block {
    max-width: 554px;

  }

  &-price {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;

  }
}



/* Стили для блока с карточками товара */
.items-cards {

  max-width: 1140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 128px;
  box-sizing: border-box;
  margin: auto;
  margin-top: 60px;

}



.card {
  height: 581px;
  width: 360px;
  background: #F8F8F8;
  margin-bottom: 30px;
  position: relative;
  margin-right: 30px;
}

.card3 {
  margin-right: 0;
}

.card:hover .card_btn {
  display: flex;
}

.card:hover .card_btn:hover {
  background-color: #ccc;
  color: #000;
  border: 1px solid #000;
}

.card:hover .card_btn:hover svg {
  fill: #000;
}

.card:hover .card_btn:active {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.card:hover .card_btn:active svg {
  fill: #fff;
}

.card:hover .card_img {

  filter: brightness(40%);

}


.card_btn {
  display: none;
  justify-content: center;
  align-items: center;
  width: 38.3%;
  min-height: 43px;
  border: 1px solid #FFFFFF;
  background: transparent;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  position: absolute;
  top: 188px;
  left: 32.7%;
}



.card_btn svg {

  fill: #fff;
  margin: 0 11px 0 0;

}

.card_info {
  margin: 0%;
  padding: 0%;
}

.card_h3 {
  text-transform: uppercase;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin: 25px 0 12px 18px;
}

.card_p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin: 0 28px 0 16px;
}

.card_price {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-left: 18px;
}

.main-item-checkbox-wrp {
  display: flex;
  justify-content: center;
  align-items: center;

}

.main-item-btn {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 49px;
  margin-bottom: 65px;

  width: 211px;
  height: 47.4px;
  border: 1px solid #FF6A6A;
  background-color: #FFFFFF;

  & span {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    margin-left: 23px;
  }

  & svg {
    fill: #F26376;
    margin-left: 23px;
  }

  &:hover {
    background-color: #F26376;
    border: #FFFFFF;

    span {
      color: #FFFFFF;
    }

    svg {
      fill: #FFFFFF;
    }
  }
}

.line-top {
  display: block;
  width: 63px;
  height: 3px;
  border: 0;
  color: #EF5B70;
  background-color: #EF5B70;
}

.line {
  display: flex;
  justify-content: center;
  width: 60%;

  border: 1px solid #EAEAEA;
  clear: both;
  background: #EAEAEA;
  margin: 65px 0 65px 0;

}

// чекбокс

.main-item-check-list {
  display: flex;
  justify-content: center;
  align-items: center;


}

/* стили для блока color */
input:focus,
button:focus {
  outline: none;
}

input:focus-visible,
button:focus-visible {
  outline: 2px solid #F16D7F;
}

.list-color {
  width: 143px;
  border: none;
  background-color: transparent;
  position: relative;
  margin-right: 20px;
}

.list-color-btn-title {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
  color: #6F6E6E;
  background-color: transparent;
  text-align: left;
  text-transform: uppercase;
  position: relative;
}

.list-color-btn-title svg {
  fill: #6F6E6E;
  position: absolute;
  top: 30%;
  left: 83%;
}

.list-color-btn-title:hover {
  color: #F16D7F;
}

.list-color-btn-title:hover svg {
  fill: currentColor;
}

.list-color-btn-title:active {
  color: black;
}

.list-color-btn-title:active svg {
  fill: currentColor;
}

#switch-color {
  display: none;
}

#switch-color:checked~.list-color-wrp {
  display: flex;
}

.list-color-wrp {
  width: 79px;
  display: none;
  flex-direction: column;
  z-index: 10;
  margin: 5px 0 0 0;
  padding: 9.5px 9.5px 9.5px 31px;
  box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  top: 18px;
  left: -13px;
}

.list-color-item {
  display: none;
}

.list-color-item:nth-child(1):checked~.list-color-item-title:nth-child(2)::before,
.list-color-item:nth-child(3):checked~.list-color-item-title:nth-child(4)::before,
.list-color-item:nth-child(5):checked~.list-color-item-title:nth-child(6)::before,
.list-color-item:nth-child(7):checked~.list-color-item-title:nth-child(8)::before {
  background-image: url(../img/check-mark-symbol.png);
  background-size: cover;
  background-position: center;
}

.list-color-item-title {
  display: block;
  margin: 0 0 6px 0;
  position: relative;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.41px;
  color: #6F6E6E;
}

.list-color-item-title:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #EBEBEB;
  position: absolute;
  top: 1px;
  left: -23.5px;
}

// стили для чекбокса Size
input:focus,
button:focus {
  outline: none;
}

input:focus-visible,
button:focus-visible {
  outline: 2px solid #F16D7F;
}

.list-size {
  width: 117px;
  border: none;
  background-color: transparent;
  position: relative;
  margin-right: 20px;
}

.list-size-btn-title {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
  color: #6F6E6E;
  background-color: transparent;
  text-align: left;
  text-transform: uppercase;
  position: relative;
}

.list-size-btn-title svg {
  fill: #6F6E6E;
  position: absolute;
  top: 30%;
  left: 83%;
}

.list-size-btn-title:hover {
  color: #F16D7F;
}

.list-size-btn-title:hover svg {
  fill: currentColor;
}

.list-size-btn-title:active {
  color: black;
}

.list-size-btn-title:active svg {
  fill: currentColor;
}

#switch-size {
  display: none;
}

#switch-size:checked~.list-size-wrp {
  display: flex;
}

.list-size-wrp {
  width: 79px;
  display: none;
  flex-direction: column;
  z-index: 10;
  margin: 5px 0 0 0;
  padding: 9.5px 9.5px 9.5px 31px;
  box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  top: 18px;
  left: -13px;
}

.list-size-item {
  display: none;
}

.list-size-item:nth-child(1):checked~.list-size-item-title:nth-child(2)::before,
.list-size-item:nth-child(3):checked~.list-size-item-title:nth-child(4)::before,
.list-size-item:nth-child(5):checked~.list-size-item-title:nth-child(6)::before,
.list-size-item:nth-child(7):checked~.list-size-item-title:nth-child(8)::before {
  background-image: url(../img/check-mark-symbol.png);
  background-size: cover;
  background-position: center;
}

.list-size-item-title {
  display: block;
  margin: 0 0 6px 0;
  position: relative;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.41px;
  color: #6F6E6E;
}

.list-size-item-title:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #EBEBEB;
  position: absolute;
  top: 1px;
  left: -23.5px;
}

// Стили для чекбокса quantity

input:focus,
button:focus {
  outline: none;
}

input:focus-visible,
button:focus-visible {
  outline: 2px solid #F16D7F;
}

.list-quantity {
  width: 105px;
  border: none;
  background-color: transparent;
  position: relative;
}

.list-quantity-btn-title {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
  color: #6F6E6E;
  background-color: transparent;
  text-align: left;
  text-transform: uppercase;
  position: relative;
}

.list-quantity-btn-title svg {
  fill: #6F6E6E;
  position: absolute;
  top: 30%;
  left: 75%;
}

.list-quantity-btn-title:hover {
  color: #F16D7F;
}

.list-quantity-btn-title:hover svg {
  fill: currentColor;
}

.list-quantity-btn-title:active {
  color: black;
}

.list-quantity-btn-title:active svg {
  fill: currentColor;
}

#switch-quantity {
  display: none;
}

#switch-quantity:checked~.list-size-wrp {
  display: flex;
}

.list-quantity-wrp {
  width: 79px;
  display: none;
  flex-direction: column;
  z-index: 10;
  margin: 5px 0 0 0;
  padding: 9.5px 9.5px 9.5px 31px;
  box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  top: 18px;
  left: -13px;
}

.list-quantity-item {
  display: none;
}

.list-quantity-item:nth-child(1):checked~.list-quantity-item-title:nth-child(2)::before,
.list-quantity-item:nth-child(3):checked~.list-quantity-item-title:nth-child(4)::before,
.list-quantity-item:nth-child(5):checked~.list-quantity-item-title:nth-child(6)::before,
.list-quantity-item:nth-child(7):checked~.list-quantity-item-title:nth-child(8)::before {
  background-image: url(../img/check-mark-symbol.png);
  background-size: cover;
  background-position: center;
}

.list-quantity-item-title {
  display: block;
  margin: 0 0 6px 0;
  position: relative;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.41px;
  color: #6F6E6E;
}

.list-quantity-item-title:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #EBEBEB;
  position: absolute;
  top: 1px;
  left: -23.5px;
}





/*                   Медиа-запросы                                  */

/*                  Медиа-запросы для планшета                      */

@media (max-width:768px) and (min-width:376px) {
  .header-main {
    justify-content: space-between;

    &-left {
      margin-left: 16px;
    }

    &-right {
      margin-right: 16px;
    }
  }

  .main-item-info-grey-border {
    margin: 0 auto;
    width: 100%;
  }

  .items-cards {
    width: 98%;

    justify-content: space-around;
    align-items: center;
    margin-top: 129px;
  }

  .card {
    margin: 0 auto;
    margin-bottom: 129px;
  }

  .card3 {
    display: none;
  }

  .subscribe {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-size: cover;
    padding: 54px 0 140px 0;
  }

  .left_sub {
    box-sizing: border-box;
    margin: 0 auto;
  }

  .right_sub {
    margin: 0 auto;
    width: 100%;
  }
}





/*                  Медиа-запрос для мобильного                       */

@media (max-width: 375px) {

  .header-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 143px;

    &-left {
      height: 40%;
      margin: 0 auto;

      &-title {
        margin: 0;
        padding: 0;
      }
    }

    &-right {
      height: 40%;
      margin: 0 auto;
    }
  }

  .header-breadcrumb {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .top-item {
    height: 624px;
    position: relative;

    &-left {
      position: absolute;
      left: 0px;
    }

    &-right {
      position: absolute;
      right: 0px;
    }

    &-img img {
      margin: 0 auto;
      width: 100%;

    }
  }

  .main-item-info {
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-top: 49px;

    &-grey-border {
      width: 100%;
      margin: 0 auto;
      justify-content: center;
    }
  }

  .items-cards {
    align-items: center;
    justify-content: center;
  }

  .card {
    margin: 0 auto;
  }

  .card2 {
    display: none;
  }

  .list-quantity {
    width: 100%;

    &-btn-title {
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
    }

    &-btn-title svg {
      left: 58px;
    }
  }

  .list-size {
    width: 100%;

    &-btn-title {
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
    }
  }

  .list-color {
    width: 100%;

    &-btn-title {
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
    }
  }

  .subscribe {

    margin-top: 64px;
  }
}