.account_btn {
  text-decoration: none;
  margin-right: 33px;
}

svg {
  fill: #E8E8E8;
}

svg:hover {
  fill: orange;
}

.wish_btn {
  text-decoration: none;
  margin-right: 240px;
  position: relative;
}

.badge {
  position: absolute;
  top: -8px;
  left: 20px;
  background-color: #F16D7F;
  border: #F16D7F solid;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

/* Конец блока хеадер с кнопками */
/* Блок баннеров */
.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  background-color: #F1E4E6;
}

.top__left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top__right {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 63.5px;
}

.vertical_line {
  height: 92px;
  width: 12px;
  background-color: #F16D7F;
  margin-right: 16px;
}

.pink_txt {
  margin: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
  text-transform: uppercase;
  font-family: lato;
  color: #F16D7F;
}

.h3_block_top {
  font-weight: 900;
  font-size: 48px;
  line-height: 57.6px;
  text-transform: uppercase;
  font-family: lato;
  margin: 0;
  padding: 0;
}

.h4_block_top {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
  text-transform: uppercase;
  font-family: lato;
}

/* Секция с карточками-баннерами */
.blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blocks_top {

  display: flex;
  justify-content: center;
  margin-top: 65px;
  margin-bottom: 30px;
}

.block1 {
  background-image: url(../img/block1.png);
  height: 260px;
  width: 360px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(33, 22, 22, 0.7);
  background-blend-mode: darken;
}

.block2 {
  background-image: url(../img/block2.png);
  height: 260px;
  width: 360px;
  margin: 0 30px 0 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(33, 22, 22, 0.7);
  background-blend-mode: darken;
}

.block3 {
  background-image: url(../img/block3.png);
  height: 260px;
  width: 360px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(33, 22, 22, 0.7);
  background-blend-mode: darken;
}

.block4 {
  background-image: url(../img/block4.png);
  height: 180px;
  width: 1140px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(33, 22, 22, 0.7);
  background-blend-mode: darken;
}

.block_link {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  margin-top: 105px;
}

.p_block,
.h_block {
  display: block;
  width: 100%;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.p_block {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.h_block {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.block4_link {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  margin-top: 65px;
}

/* Блок Feature Items карточки товара */
.article_centr {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article_block {
  width: 87.7%;
  /* background-color: #E5E5E5; */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.art_block_h3 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  align-items: center;
  padding: 0;
  margin: 0;
}

.art_block_p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  align-items: center;
  margin: 6px 0 0 0;
  padding: 0;
}

.cards {
  /* width: 71.6% */
  /* на случай адаптива */
  width: 1140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  height: 581px;
  width: 360px;
  background: #F8F8F8;
  margin-bottom: 30px;
  position: relative;
}

.card:hover .card_btn {
  display: flex;
}

.card:hover .card_btn:hover {
  background-color: #ccc;
  color: #000;
  border: 1px solid #000;
}

.card:hover .card_btn:hover svg {
  fill: #000;
}

.card:hover .card_btn:active {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.card:hover .card_btn:active svg {
  fill: #fff;
}

.card:hover .card_img {

  filter: brightness(40%);

}


.card_btn {
  display: none;
  justify-content: center;
  align-items: center;
  width: 38.3%;
  min-height: 43px;
  border: 1px solid #FFFFFF;
  background: transparent;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  position: absolute;
  top: 188px;
  left: 32.7%;
}



.card_btn svg {

  fill: #fff;
  margin: 0 11px 0 0;

}

.card_info {
  margin: 0%;
  padding: 0%;
}

.card_h3 {
  text-transform: uppercase;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin: 25px 0 12px 18px;
}

.card_p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin: 0 28px 0 16px;
}

.card_price {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-left: 18px;
}

.product_btn {
  display: block;
  width: 100%;
  max-width: 211px;
  margin: 0 auto;
  padding: 14.5px;
  background-color: #fff;
  border: 2px solid #F26376;
  box-sizing: border-box;
  color: #F26376;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  text-align: center;
  word-break: break-all;
  margin-top: 48px;
}

.product_btn:hover {
  background-color: #F26376;
  color: #fff;
}