body {
  margin: 0;
  padding: 0;
  width: 1600px;
  font-family: Lato;
  ;
}

header {
  width: 100%;
  background-color: #222222;
  max-height: 75px;
  display: flex;
  justify-content: space-around;

}

.top_header {
  display: flex;
  justify-content: space-between;
}

.header_logo {
  width: 44px;
}

.left_block {
  width: 100%;
  height: 50%;
  min-height: 75px;
  display: flex;
  align-items: center;
  margin-left: 231px;
}

.header_search {
  width: 26px;
  min-height: 26px;
  margin-left: 41px;
}

.header_search_btn {
  width: 28px;
  min-height: 20px;
  padding: 5px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  font-family: Arial;
  text-transform: capitalize;
  background-image: url(/cont/lupa.png);
  background-repeat: no-repeat;

}

.header_search_btn:focus {
  width: 180px;
  min-height: 20px;
  transition: width 1s ease;
  border: 2px solid #fff;
}

.right_block {
  width: 100%;
  height: 50%;
  min-height: 75px;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;
}

.menu_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 23px;
  margin-right: 33px;
}

.account_btn {
  text-decoration: none;
  margin-right: 33px;
}

/* .account_btn:hover {
  fill: orange;
} */
.wish_btn {
  text-decoration: none;
  margin-right: 240px;
}

.top {
  display: flex;
  align-items: center;
  background-color: #F1E4E6;
}

.top__left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top__right {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 63.5px;


}

.vertical_line {
  height: 92px;
  width: 12px;
  background-color: #F16D7F;
  margin-right: 16px;
}

.pink_txt {
  margin: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
  text-transform: uppercase;
  font-family: lato;
  color: #F16D7F;
}

.h3_block_top {
  font-weight: 900;
  font-size: 48px;
  line-height: 57.6px;
  text-transform: uppercase;
  font-family: lato;
  margin: 0;
  padding: 0;
}

.h4_block_top {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
  text-transform: uppercase;
  font-family: lato;
}

.blocks {
  display: flex;
  flex-direction: column;
  align-items: center;


}

.blocks_top {
  display: flex;
  justify-content: center;
  margin-top: 65px;
  margin-bottom: 30px;
}

.block1 {
  background-image: url(/cont/block1.png);
  height: 260px;
  width: 360px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(33, 22, 22, 0.7);
  background-blend-mode: darken;

}

.block2 {
  background-image: url(/cont/block2.png);
  height: 260px;
  width: 360px;
  margin: 0 30px 0 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(33, 22, 22, 0.7);
  background-blend-mode: darken;
}

.block3 {
  background-image: url(/cont/block2.png);
  height: 260px;
  width: 360px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(33, 22, 22, 0.7);
  background-blend-mode: darken;
}

.block4 {

  background-image: url(/cont/block4.png);
  height: 180px;
  width: 1140px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(33, 22, 22, 0.7);
  background-blend-mode: darken;

}

.block_link {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  margin-top: 105px;
}

.p_block,
.h_block {
  display: block;
  width: 100%;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.p_block {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.h_block {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.block4_link {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  margin-top: 65px;
}

.article_centr {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.article_block {
  width: 87.7%;
  /* background-color: #E5E5E5; */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;

}

.art_block_h3 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  align-items: center;
  padding: 0;
  margin: 0;

}

.art_block_p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  align-items: center;
  margin: 6px 0 0 0;
  padding: 0;
}

.cards {
  width: 71.6%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.card {
  height: 581px;
  width: 360px;
  background: #F8F8F8;
  margin-bottom: 30px;

}

/* .card:hover .card_img:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  top: 0;
  left: 0;
} */


.card_info {
  margin: 0%;
  padding: 0%;
}



.card_h3 {
  text-transform: uppercase;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin: 25px 0 12px 18px;
}

.card_p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin: 0 28px 0 16px;
}

.card_price {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-left: 18px;
}

.product_btn {
  display: block;
  width: 100%;
  max-width: 211px;
  margin: 0 auto;
  padding: 14.5px;
  background-color: #fff;
  border: 2px solid #F26376;
  box-sizing: border-box;
  color: #F26376;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  text-align: center;
  word-break: break-all;
  margin-top: 48px;
}

.product_btn:hover {
  background-color: #F26376;
  color: #fff;
}

.bottom_section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 341px;
  margin-top: 96px;
  background-color: #222224;


}

.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 300px;
  margin: 0 30px 0 0;

}

.h3_ {
  display: block;
  width: 100%;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 23.95px;
  color: #FBFBFB;
  text-align: center;
  margin-top: 28px;
}

.p_ {
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 16.77px;
  text-align: center;
  color: #FBFBFB;
  margin: 0;
  margin-top: 16px;
}

.subscribe {
  display: flex;
  justify-content: space-between;
  max-height: 448px;
  background-image: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(/cont/bootom_img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F3F3F3
}

.left_sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 448px;
  justify-content: center;
  /* margin-left: -10px; */
}

.left_sub_d {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 360px;
  height: 100px;
}

.left_sub_p {
  text-align: center;
  width: 360px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.left_sub_p span {
  font-style: italic;
}

.right_sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 448px;
  justify-content: center;

}

.sub_h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
  margin: 0;

}

.sub_p {
  text-transform: uppercase;
  margin: 0;
}

.subscribe_form {
  display: flex;
  margin-top: 39px;

}

.subscribe_form_email {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 256px;
  padding: 16px;
  box-sizing: border-box;
  border: none;
  border-radius: 30px 0 0 30px;
  background-color: #E1E1E1;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: #222224;
  opacity: 0.67;
}

.subscribe_form_btn {
  display: block;
  padding: 16px;
  box-sizing: border-box;
  border: none;
  border-radius: 0 30px 30px 0;
  background-color: #F16D7F;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.copyright {
  display: flex;
  justify-content: space-between;
  height: 79px;
  align-items: center;
  background-color: #222224;
  ;
}

.copyright_left {
  margin-left: 35px;
}

.copyright_txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.copyright_right {
  margin-right: 230px;
}

.social_items {
  margin-left: 7.3px;
}